.portfolio-item {
  background-color: white;
  opacity: 0.0;
  z-index: 10;

  width: calc(30% - 40px);
  height: calc(90% - 40px);

  font-weight: bold;
  font-size: 20px;

  border-radius: 20px;
  padding: 20px;

  text-decoration: none;
  color: black;
}

.portfolio-item:hover {
  padding: 24px;
}

.menu-title {
  font-weight: bold;
  font-size: 19px;
  word-wrap: break-word;
}

.portfolio-divider {
  width: 50%;
  height: 2px;
  background-color: black;
}

.portfolio-item-bold {
  font-weight: bold;
}

.portfolioDiscription {
  font-size: 12px;
}

@media only screen and (max-width: 1300px) {
  .menu-title {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1000px) {
  .portfolioDiscription {
    font-size: 11px;
  }
}

@media only screen and (max-width: 600px) {
  
  .portfolioDiscription {
    font-size: 10px;
  }
}

@media only screen and (max-width: 875px) {

  .portfolio-item {
    width: 110%;
    height: calc(115px - 20px);
    padding: 10px;
  }

  .portfolio-item:hover {
    padding: 10px;
  }

  .menu-title {
    font-size: 14px;
  }

} 
  