@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

.center-button {
  width: 50%;
  height: 20%;
  font-weight: 700;
  font-size: 15px;
  border-radius: 15px;
  border: none;
  color: black;
  animation: blink 3s infinite;
}

@keyframes blink {
  0%, 100% { background-color: white; }
  60% { background-color: white; }
  80% { background-color: rgb(249, 249, 90); }
  99% { background-color: white; }
}