.instruction-text {
  font-size: 13px;
  background-color: blue;
  width: 100vw;
  text-align: center
}
.inputs {
  z-index: 100;
  background-color: white;
  padding: 2px 6px 2px 4px;
  margin: 3px;
  border-radius: 4px;
  display: flex;
  width: fit-content;
}
input {
  outline-style: none;
  background-color: transparent;
  border-radius: 5px;
  padding: 0px;
  height: 20px;
  background-color: rgb(200, 200, 200);
}
label {
  color: black;
  padding-right: 3px;
  padding-left: 3px;
  font-size: 15px;
}
.settings {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
}
.settings-string {
    font-size: 13px;
}

@media only screen and (min-width: 600px) {
  .instruction-text {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  input {
    height: 15px;
    width: 35px;
  }
  label {
    font-size: 13px;
  }
} 