.test {
  width: 60vw;
  height: 300px;
  /* max-width: 100vw; */
  /* background-color: red; */

  position: absolute;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-around;
  /* left: calc(50% - 400px); */
  left: 20vw;
  top: calc(50% - 150px);
}

.menu-item {
  background-color: white;
  opacity: 0.0;
  z-index: 10;

  width: 30%;
  height: 90%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  font-weight: bold;
  font-size: 20px;

  /* background-color: white; */
  border-radius: 20px;

  /* animation-name: menuFade;
  animation-duration: 4.5s;
  animation-fill-mode: forwards; */
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  color: black;
}

#portfolio {
  animation-name: menuFade;
  animation-duration: 3s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}

#resume {
  animation-name: menuFade;
  animation-duration: 3s;
  animation-delay: 0.45s;
  animation-fill-mode: forwards;
}


#productivity {
  animation-name: menuFade;
  animation-duration: 3s;
  animation-delay: 0.71s;
  animation-fill-mode: forwards;
}

#productivity-coming-soon {
  font-size: 13px;
}


@keyframes menuFade {
  0% {opacity: 0;}
  100% {opacity: 1.0;}
}

@media only screen and (max-width: 875px) {

  .test {
    top: calc(50% - 200px);
    height: 400px;
    flex-direction: column;
  }  

  .menu-item {
    width: 100%;
    height: 115px;
  }

} 

