* {font-family: 'Roboto Mono', monospace;}

.root-container {
  /* height: 100vh; */
  padding: 0px;
  margin: 0px;
}
.container {
  height: 100vh;
  width: 50vw;
}
h1 {
  font-size: 24px;
  z-index: 5;
}

@media only screen and (max-width: 600px) {
    
    h1 {
      font-size: 18px;
    }   

  } 